@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --red: #ef4743;
  --blue: #263547;
  --ash: #626d7a;
  --deep-blue: #263558;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

/* RESUME HEADING  */
.header {
  font-family: "Roboto", sans-serif;
  background-color: var(--red);
  color: white;
  padding: 3rem;
  text-transform: uppercase;
  text-align: left;
}
.header h1 {
  font-size: 3rem;
  letter-spacing: 4px;
  font-weight: lighter;
  margin-bottom: 1rem;
}
.header p {
  color: var(--blue);
  letter-spacing: 4px;
  font-size: 1rem;
  font-weight: bold;
}

/* DETAILS SECTION */
.details {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.details .information {
  padding: 3rem;
  background-color: var(--blue);
  color: white;
}

/* THE INFORMATION PART OF THE DETAILS */
.details .information ul {
  margin: 0;
  list-style: none;
}
.details .information h3 {
  color: var(--red);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.details .information a {
  color: white;
}
.details .information .tech-skills,
.information .personal-skills,
.information .contact {
  margin-bottom: 3rem;
}

/* THE PROFILE PART OF THE DETAILS */
.profile-info {
  padding: 3rem;
}
.profile-info h3 {
  text-transform: uppercase;
  color: var(--deep-blue);
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.profile-info h4 {
  text-transform: uppercase;
  color: var(--deep-blue);
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 1rem;
}
.profile-info p {
  color: var(--blue);
   margin-bottom: 1rem;
}
.profile-info li {
  color: var(--ash);
 
}
.profile-info .profile,
.experience,
.education ,.project{
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 3px solid var(--red);
}
.profile-info .profile,
.experience,
.education ,.project a{
      color:var(--blue);
}
